.content{
    width: 900px;
    height: 370px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
}
.content p{
    text-align: center;
}
.content_title{
    border-bottom: 1px solid #bbbbbb;
    height: 40px;
    line-height: 50px;
}
.txtBox{
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    width: 350px;
    margin-top: 30px;
    height: 50px;
    padding-left: 10px;
}
.btn{
    background-color: #dd0000;
    color: white;
    width: 350px;
    height: 50px;
    margin-top: 30px;
}